html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #CCE2E2;
  width: 100%;
}

main {
  display: block;
  font-family: "Oswald", serif;
  position: absolute;
  top: 30%;
  width: 100%;
}

h1 {
  color: #124F50;
  font-family: "Oswald", serif;
  font-size:200%;
  font-style: normal;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #709596;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #124F50;
  font-family: "Oswald", serif;
  display: inline-block;
  font-size:125%;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #417272;
  font-family: 'Oswald' sans-serif;
  text-decoration: none;
}

a:hover {
  color: #417272;
  text-decoration: underline #417272;
}
